#content {
  padding: 15px;
}

.loading-spinner-container {
  display: flex;
  margin: 18% auto;
  justify-content: center;
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}